body {
    font-family:Lato, sans-serif;
    box-sizing: border-box;
}

/* Agrandar font */
p {
    font-size:1.2rem;
    color:#515155;
}

p#abs {
    font-size:1rem;
    /*color:#39393d;*/
    color:#515155;
    }

li {
    font-size:1rem;
}

li#title {
    font-size:0.8rem;
}


.my-nav-bar {
    background-color: white;
    box-shadow:1px 1px 12px 0 rgb(1 16 26 / 10%), 14px 14px 40px 0 rgb(118 126 173 / 8%);
    padding:0.8rem 2.5rem;
}

.nav-bar-img {
    width:4rem;
}

.navbar-collapse {
    flex-grow:0;
}

.font-weight-bold {
    /*font-weight:bold;*/
    color:#a3a4a5
}


.font-weight-bold2 {
    /*font-weight:bold;*/
    color:#000006;
    font-size:0.9rem;
}

.JMP {
    font-weight:bold;
    font-size:1.2rem;
}

.nav-item {
    padding-left:5rem !important;
}

.nav-link {
    
    font-size:1.3rem;
    font-weight:100;
    transition:300ms;
}

.nav-link:hover {
    transform:scale(1.1)
}

.main-title {
     /*color: #d25aa2;
    color: #323e9b;
    color: #e20188;*/
    color: #323e9b;
    font-size: 4.5rem;
    letter-spacing: 0.4rem;
    font-weight: 100;
    text-align:center;
    font-family: 'Bodoni Moda', serif;
    font-weight:bold;
}

.second-title {
    /*color: #d25aa2;
    color: #e20188;*/
    color: #323e9b;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    font-weight: 100;
    text-align:center;
    font-weight:bold;
}


.second-title2 {
    /*color: #d25aa2;
    color: #e20188;*/
    color: #323e9b;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    font-weight: 100;
    text-align:center;
}


.main-img {
    width:100%;
    height:auto;
}

.about-me {
    /*font-weight:bold;*/
    font-size:2rem;
}

.about-me2 {
    font-size:2rem;
}

a {
    color:black;
    text-decoration:none;
    cursor:pointer;
}

.link-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    color:#abbce2;
}

.main-col {
    width:50%;
}

.negrita {
    font-weight:bold;
/*     color:#00b2ff;
    text-decoration:underline; */
}

.link {
    /*color:#2fb2ea;*/
    color:#8097e4;
    text-decoration:underline;
    font-size:1.3rem;
}
.linknounder {
    /*color:#2fb2ea;*/
    color:#8097e4;
    font-size:1.3rem;
}

.research-img {
    width:35%;
    float:left;
    height:fit-content;
    margin-right:2rem;
}


.btn-primary {
    background-color: #8097e4;
    border: none;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.education-list li {
    list-style:none;
}

.research-block {
    background-color: whitesmoke;
    border: #e1e1e1 solid 1px;
    padding:1rem;
}

@media only screen and (max-width: 1200px) {
    .second-title {
        letter-spacing: 0.2rem;
    }
    .main-col {
        width:100%;
    }

    .main-img {
        margin-bottom:2rem;
    }

    .main-row {
        flex-direction:column;
    }

    .research-img {
        width:100%;
    }

    #second-title {
        display:none;
    }

}